#buttons {
    margin-bottom: 25px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 50px;

  }
  
  #container {
    display: grid;
    height: 500px;
    width: 500px;
    margin: auto;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto);
  }
  
  .cell {
   border: 1px solid black;
   background-color: white;
   height: 100%;
   width: 100%;
  }